html,body
{
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    z-index:1;
    width: 100%;
}
.header-one{
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 44px;
    background-color: rgb(95,192,205);
}
.header-one span{
    width: 21px;
    height: 22px;
    background: url("TaskSixPrc/css_sprites.png")-10px -10px;
    margin-right: 15px;
}
.header-one-left{
    width: 21px;
    height: 22px;
    margin-left: 15px;
}
.center-test{
    display: flex;
    height: 35px;
    width: 143px;
    background-color: #55A8B3;
    border-radius:3px;
}
.center-test-one{
    font-size: 17px;
    color: white;
    flex: auto;
    text-align: center;
    line-height: 35px;
}
.center-test-two{
    font-size: 17px;
    color: #5FC0CD;
    background-color: white;
    flex: auto;
    text-align: center;
    line-height: 35px;
    border-radius:3px;
}
header ul{
    padding: 0;
    margin: 0;
}
.headerTwo{
    height: 40px;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #E1E5E7;
    background-color: white;
}
.headerTwoTestOne,.headerTwoTestTwo{
    height: 40px;
    border-right: 1px solid #E1E5E7;
    flex:auto;
    display: flex;
    align-items:center;
    position: relative;
}
.headerTwoTestThree{
    height: 40px;
    border-right: 1px solid white;
    flex:auto;
    display: flex;
    align-items:center;
    position: relative;
}
.headerTwoTestOne span,.headerTwoTestTwo span,.headerTwoTestThree span
{
    margin: auto;
    text-align: center;
    width: 70px;
    font-size: 14px;
    color: #999999;
}
.headerTwoSrc
{
    padding-right: 10px;
    width: 7px;
    height: 4px;
    background: url("TaskSixPrc/css_sprites.png")-10px -93px;
}
.dropdown-content {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    width: 100%;
    background-color: #f1f1f1;
}
.headerTwoTestOne:hover .dropdown-content{
    display: block;
}
.headerTwoTestTwo:hover .dropdown-content{
    display: block;
}
.headerTwoTestThree:hover .dropdown-content{
    display: block;
}
.dropdown-content p{
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.dropdown-content p:hover{
    background-color: #555;
    color: white;
}
main {
    width: 100%;
    margin: 84px 0 0 0;
    height: 78vh;
    overflow-y: auto;
}
main ul{
    padding: 0;
    margin: 0;
}
main li{
    border-bottom:1px solid rgb(225,229,231);
    list-style-type:none;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
main li span{
    font-size: 12px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.mainOneSrc{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("TaskSixPrc/css_sprites.png")-94px -10px;
    margin: 0 15px 0 15px;
}
.mainThreeSrc{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("TaskSixPrc/css_sprites.png")-94px -42px;
    margin: 0 15px 0 15px;
}
.mainLeftTest{
    margin-left: 42px;
}
.mainRightTest{
    color: red;
}
.mainOne,.mainTwo{
    margin-bottom: 10px;
}
.mainTwo{
    display: flex;
    justify-content:space-between;
    margin-right: 10px;
}
.mainTwo div{
    display: flex;
}
.mainRightSrc{
    width: 10px;
    height: 10px;
    border-top: 2px solid #5FC0CD;
    border-right: 2px solid #5FC0CD;
    transform: rotate(45deg);
}
footer{
    position: fixed;
    bottom: 0;
    z-index:1;
    width: 100%;
    display: flex;
    justify-content:space-between;
    height: 50px;
    background-color: rgba(248,250,251,1);
    align-items:center;
}
.footerOne{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}
.footerLeftSrc{
    width: 23px;
    height: 20px;
    background: url("TaskSixPrc/css_sprites.png")-51px -10px;
    margin-bottom: 3px;
}
.footerOne span{
    font-size: 10px;
    color: #5FC0CD;
    width: 23px;
    text-align: center;
}
.footerThree{
    margin-right: 70px;
    display: flex;
    flex-direction: column;
}
.footerRightSrc{
    width: 21px;
    height: 21px;
    background: url("TaskSixPrc/css_sprites.png")-10px -52px;
    margin-bottom: 3px;
}
.footerThree span{
    font-size: 10px;
    color: #999999;
    width: 21px;
    text-align: center;
}
.footerTwo{
    width: 47px;
    height: 47px;
    background-color: rgba(95,192,205,1);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;

}
.footerCenterSrc{
    margin: auto;
    width: 20px;
    height: 20px;
    background: url("TaskSixPrc/css_sprites.png")-51px -52px;
}
