@import "main";

body {
    background: #29BDE0;
}

main {
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
    border: 5px solid #ffffff;
    background-color: #FFEDC5;

    div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
}

#IdentityNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin: -25px auto 0 auto;
    color: #F56B81;
    font-size: 20px;
}

#IdentityAvatar {
    width: 150px;
    height: 150px;
}
#IdentityStatement{
    margin-top: 10px;
    font-size: 20px;
    color: #29BDE0;
}
footer {
    position: fixed;
    bottom: 20px;
    margin-left: 10%;
    width: 80%;
}