body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a img {
  border: 0;
}

img {
  border: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.foot-button {
  width: 80%;
  height: 50px;
  background: #fbb435;
  font-size: 15px;
  letter-spacing: 10px;
  color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: solid 1px #74d4eb;
  z-index: 1;
}

header .back {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  cursor: pointer;
}

header .font {
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 5px;
}

header .close {
  display: inline-block;
  margin-right: 30px;
  width: 2px;
  height: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #ffffff;
}

header .close::after {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: #ffffff;
}

body {
  background: #eff0f4;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #29bde0;
  height: 50px;
}

header a {
  content: "";
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

main {
  margin: 70px 0 0 0;
  padding: 0 10px;
  text-align: center;
}

h4 {
  margin-top: 10px;
  line-height: 40px;
  background: #ffffff;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin-top: 10px;
  padding-top: 10px;
  background: #ffffff;
}

.player span {
  font-size: 16px;
  margin-left: 50px;
}

.player span input {
  width: 20px;
  border: none;
}

.player span::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -10px 0 0 -50px;
  border-radius: 100%;
  background: url(../../img/pingmin.png) no-repeat center/cover;
}

.box {
  height: 40px;
  margin-top: 10px;
  background: #ffffff;
}

.quantity {
  height: 40px;
  margin-top: 10px;
  padding-top: 10px;
  background: #ffffff;
}

.quantity input {
  width: 30px;
  height: 20px;
  border: none;
  background: #ffffff;
  font-size: 15px;
  text-align: center;
  color: #fbb435;
}

.quantity span {
  font-size: 15px;
  color: #fbb435;
  margin-left: 10px;
}

footer {
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=matching.css.map */