@import "main";

body {
  background: #eff0f4;
}

header {
  display: flex;
  align-items: center;
  background: #29bde0;
  height: 50px;

  a {
    content: "";
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-top: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    transform: rotate(225deg);
  }
}

main {
  margin: 70px 0 0 0 ;
  padding: 0 10px;
  text-align: center;
}

h4 {
  margin-top: 10px;
  line-height: 40px;
  background: #ffffff;
}

.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin-top: 10px;
  padding-top: 10px;
  background: #ffffff;
}

.player span {
  font-size: 16px;
  margin-left: 50px;
}

.player span input {
  width: 20px;
  border: none;
}

.player span::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -10px 0 0 -50px;
  border-radius: 100%;
  background: url(../../img/pingmin.png) no-repeat center/cover;
}

.box {
  height: 40px;
  margin-top: 10px;
  background: #ffffff;
}

.quantity {
  height: 40px;
  margin-top: 10px;
  padding-top: 10px;
  background: #ffffff;
}

.quantity input {
  width: 30px;
  height: 20px;
  border: none;
  background: #ffffff;
  font-size: 15px;
  text-align: center;
  color: #fbb435;
}

.quantity span {
  font-size: 15px;
  color: #fbb435;
  margin-left: 10px;
}

footer {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}