html,body,*
{
	margin: 0;
    font-size: 62.5%;
    background-color: rgb(104,205,213);

}
.imgOne
{
	margin-top: 2%;
	margin-left: 2%;
	width: 2.5rem;
	height: 2.5rem;
}
.imgTwo
{
	display: block;
	margin: 10% auto;
	width: 7rem;
	height: 3rem;
}
.text
{
	width: 75%;
	margin: 15% auto;
}
.text p
{
	color: white;
	line-height:1.5rem;
}
.imgLeft
{
	margin-top: 20%;
	margin-left: 10%;
}
.imgRight
{
	float: right;
	margin-top: 20%;
	margin-right: 10%;
}
.imgRight,.imgLeft
{
	width: 6rem;
	height: 5rem;
}
