html,body,*
{
	margin: 0;
    font-size: 62.5%;
    background-color: rgb(104,205,213);

}
.head img
{
	margin-top: 2%;
	margin-left: 2%;
	width: 2.5rem;
	height: 2.5rem;
}
.body
{
	margin-top: 10%;
	text-align: center;
}
.body img
{
	width: 7rem;
	height: 3rem;
}
.text
{
	margin-top: 15%;
	width: 75%;
	margin-left:12.5% ;
	margin-right: 12.5%;
}
.text p
{
	color: white;
	line-height:1.5rem;
}
.footLeft
{
	margin-top: 20%;
	float: left;
}
.footRight
{
	margin-top: 20%;
	float: right;
}
.imgLeft
{
	margin-left: 50%;
}
.imgRight
{
	float: right;
	margin-right: 50%;
}
.imgRight,.imgLeft
{
	width: 6rem;
	height: 5rem;
}