html
{
    font-size: 62.5%;
    background-color: rgb(104,205,213);

}
body{
	margin: 0;
}

.imgOne
{
	margin: 10px 0 0 10px;
	width: 2.5rem;
	height: 2.5rem;
}
.imgTwo
{
	display: block;
	margin: 10% auto;
	width: 7rem;
	height: 3rem;
}
.text
{
	margin: auto;
	width: 75%;
	line-height:1.5rem;
	color: white;
}
.imgLeft
{
	margin: 30px 0 0 30px;
}
.imgRight
{
	float: right;
	margin: 30px 30px 0 0;
}
.imgRight,.imgLeft
{
	width: 6rem;
	height: 5rem;
}
