body {
  background-color: #29bde0; }

header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #29bde0;
  align-items: center; }

.header-left {
  margin: 10px;
  height: 20px;
  width: 15px;
  border: 1px solid white; }

.header-left div:first-child {
  margin: 4px auto 0 auto;
  width: 12px;
  height: 4px;
  border-bottom: 1px solid white;
  border-top: 1px solid white; }

.header-left div:last-child {
  margin: auto;
  width: 12px;
  height: 4px;
  border-bottom: 1px solid white; }

.header-right {
  display: flex;
  margin: 10px;
  width: 20px;
  height: 0;
  border-bottom: 1px solid white;
  transform: rotate(45deg); }

.header-right div {
  width: 20px;
  border-bottom: 1px solid white;
  transform: rotate(-90deg); }

header div:nth-last-child(2) {
  color: white;
  font-size: 17px; }

.main-one {
  background-color: #b9e9f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 41px;
  width: 100%; }

.main-one div:first-child {
  font-size: 13px;
  margin-left: 23px; }

.main-one div:last-child {
  margin-right: 12px;
  display: flex;
  align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url("../TaskSeven/TaskSevenVoteSrc/css_sprites.png") no-repeat -10px -10px; }

.main-one div:last-child div {
  width: 13px;
  height: 15px;
  margin: auto;
  background-image: url("../TaskSeven/TaskSevenVoteSrc/css_sprites.png") no-repeat -45px -94px; }

audio {
  position: absolute;
  right: -10px;
  opacity: 0;
  transform: rotate(180deg); }

.main-three {
  margin-left: 24px;
  margin-top: -10px;
  margin-bottom: 24px; }

.main-three div {
  color: white;
  font-size: 12px; }

main {
  overflow-y: auto;
  width: 100%;
  margin: 42px 0 87px 0;
  overflow-y: auto; }

.main1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vw; }

.main2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vw; }

.main3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vw; }

.main4 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vw; }

.mainOne {
  border: 1vw solid white;
  position: relative; }

.boxO {
  width: 25vw;
  text-align: center;
  padding: 8vw 0;
  color: #565656;
  font-size: 3vw;
  background-color: #f5c97b; }

.boxT {
  font-size: 3vw;
  color: white;
  background-color: #83b09a;
  text-align: center; }

.mainOne:hover .drop-down {
  display: block; }

.drop-down {
  display: none;
  width: 100%;
  position: absolute;
  top: 115%; }

.drop-downO {
  display: flex;
  justify-content: space-between; }

.drop-downSrcO, .drop-downSrcT, .drop-downSrcTh, .drop-downSrcF {
  width: 4.5vw;
  height: 4.5vw;
  background: url("../TaskSeven/TaskSevenVoteSrc/css_sprites (1).png") no-repeat 18.182% 18.182%/460%; }

.drop-downSrcT {
  background: url("../TaskSeven/TaskSevenVoteSrc/css_sprites (1).png") no-repeat 81.818% 18.182%/460%; }

.drop-downSrcTh {
  background: url("../TaskSeven/TaskSevenVoteSrc/css_sprites (1).png") no-repeat 18.182% 81.818%/460%; }

.drop-downSrcF {
  background: url("../TaskSeven/TaskSevenVoteSrc/css_sprites (1).png") no-repeat 81.818% 81.818%/460%; }

footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #29bde0; }

footer button {
  margin: 20px 10% 20px 10%;
  padding: 10px 0;
  width: 80%;
  background-color: #fbb435;
  font-size: 20px;
  color: white;
  text-align: center;
  border: none;
  outline: none; }

/*# sourceMappingURL=TaskThirTeenVote.css.map */
